
@model Gymbokning.Models.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.IsAuthenticated)
{

    <h5> Hello @User.Claims.First(u => u.Type == "FullName").Value </h5>

    @*foreach (var claim in User.Claims)
        {
            <pre> @claim.Type+" "+@claim.Value </pre>
        }*@
}


@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <form asp-action="Index">
        <label> Show History</label>
        <input  type="checkbox" asp-for="ShowHistory" id="HistoryCheckbox" />

    </form>

}



<table class="table table-striped">
    <thead>
        <tr class="bg-secondary">
            <th>
                @Html.DisplayNameFor(model => model.GymClasses.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GymClasses.FirstOrDefault().StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GymClasses.FirstOrDefault().Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GymClasses.FirstOrDefault().Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <partial name="IndexGymClassPartial" model="@Model.GymClasses" />
    </tbody>
</table>
